<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>数据过滤</title>
</head>
<body>
    <div id="root">
    <h2>人员列表</h2>
    <input type="text" placeholder="请输入名字" v-model="keyWord">
    <!-- <button @click.once="add">添加一个帅哥</button> -->
    <!-- 遍历数组 -->
    <ul>
        <li v-for="(p,index) in filPersons" :key="p.id">
            <!-- key用index会错位,p.id就不会 -->
            {{p.name}}-{{p.age}}-{{p.sex}}
            <!-- <input type="text"> -->
        </li>
    </ul>
    <button @click="sortType = 0">原顺序</button>
    <button @click="sortType = 1">年龄升序</button>
    <button @click="sortType = 2">年龄降序</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        Vue.config.productionTip = false;
    
        const vm = new Vue({
            el: "#root",
            data: {
                persons:[
                    {id:'001',name:'小一',age:19,sex:'男'},
                    {id:'002',name:'小二',age:20,sex:'女'},
                    {id:'003',name:'小三',age:21,sex:'男'},
                    {id:'004',name:'小三1',age:41,sex:'女'},
                    {id:'005',name:'小三3',age:31,sex:'女'},
                ],
                // filPersons:[],
                keyWord:'',
                sortType:0,
            },
            computed:{
                filPersons(){
                    const arr = this.persons.filter((p)=>{
                        //js包含  indexOf
                        //-1就时不包含
                        return p.name.indexOf(this.keyWord) !== -1;
                    });

                    //判断是否要排序
                    if(this.sortType){//sortType =1,2的时候为真
                        arr.sort((p1,p2) => {
                            //三目表达式要多用！！！！
                            return this.sortType ===1 ? p1.age-p2.age : p2.age-p1.age
                        })
                    }
                    //函数要有返回值
                    return arr;
                }
            },
            methods: {
                // add(){
                //     const p ={id:'004',name:'林发康',age:23};
                //     //unshift() 方法可向数组的开头添加一个或更多元素，并返回新的长度。
                //     this.persons.unshift(p);
                //     // this.persons.push(p);
                // }
                
            },
        });
    </script>
</body>
</html>